<%=link_to restaurant_path(restaurant) do%>
  <div class="card pt-3 ps-3" style="width: 20rem;">
    <h5 class='card-title'><%= restaurant.name %></h5>
    <div class="card-body">
      <div class="card-info">
        <p class="card-text adress"><%= restaurant.address %></p>
        <p class="card-text category"><%= restaurant.category %></p>
      </div>
      <p class='card-bottom'><%= restaurant.phone_number %></p>
    </div>
  </div>
<% end %>
