<div class="main-page">
  <div class="restaurant-infos">
    <h2><%= @restaurant.name %></h2>
    <div class="show-infos">
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
  </div>
  <div class="restaurant-reviews">
    <% unless @reviews.empty? %>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review_card', review: review %>
      <% end %>
    <% else %>
      <p>Il n'y a aucune review pour le moment, soyez le premier a en écrire une</p>
      <%= link_to "Ajouter une review", new_restaurant_review_path(@restaurant) %>
    <% end %>
  </div>
</div>
